<!-- templates/verification_email.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Verifikasi Akun</title>
</head>

<body>
    <h2>Hai, {{fullName}}</h2>
    <p>Terima kasih telah mendaftar di Freshmart!</p>
    <p>Silakan klik tombol di bawah ini untuk memverifikasi akun kamu:</p>
    <p>
        <a href="{{link}}"
            style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none;">Verifikasi
            Akun</a>
    </p>
    <p>Jika kamu tidak merasa mendaftar, abaikan email ini.</p>
</body>

</html>